.stat {
    background-color: #f2f2f4;
    header {
        padding: 0;
        box-shadow: 0 1px 14px 0 rgba(47, 61, 84, 0.15);
        background: #fff;
    }
    .header__wrapper {
        padding: 14px 0;
        gap: 52px;
        align-items: center;
    }
    .btn-stat-help {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: inherit;
        padding: 2px 24px;
        height: 38px;
        line-height: 100%;
        gap: 12px;
        &::before {
            content: '';
            display: block;
            width: 18px;
            height: 17px;
            background: url(../img/stat-help.svg) no-repeat center/contain;
        }
    }
    .btn-out {
        margin-left: auto;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #6c757d;
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        color: #6c757d;
        text-decoration: none;
        cursor: pointer;
        padding: 2px 24px;
        transition: opacity .3s;
        font-family: inherit;
        &:hover {
            opacity: .75;
        }
    }
    //promo
    &-promo {
        &__wrap {
            background-image: image-set(
                url("../img/stat-promo_bg.webp") type("image/webp"),
                
                url("../img/stat-promo_bg.png") type("image/png") 1x,
                url("../img/stat-promo_bg-2x.png") type("image/png") 2x
                );
            background-repeat: no-repeat;
            background-position: right center;
            background-size: cover;
            padding: 32px 0 43px 80px;
            border-radius: 15px;
        }
        
    
        padding: 32px 0 10px;
        &__content {
        max-width: 475px;
        }
        .fs_24 {
            margin-bottom: 13px;
        }
    }
    //подсказки
    &-prompts {
        padding: 10px 0;
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 20px;

        }
        &__item {
            border-radius: 15px;
            background-color: #fff;
            padding: 24px 32px 30px;
        }
        &__hide {
            cursor: pointer;
            text-decoration: none;
            background: #f2f2f4;
            border-radius: 6px;
            font-weight: 400;
            font-size: 14px;
            color: #6c757d;
            transition: opacity .3s;
            font-family: inherit;
            padding: 4px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 95%;
            height: 28px;
            &:hover {
                opacity: .75;
            }
        }
    }
    //search
    &-search {
        padding: 10px 0 10px;
        &__wrap {
            border-radius: 15px;
            background: #fff;
            padding-bottom: 48px;
        }
        &__title {
            padding: 24px 48px;
            border-bottom: 1px solid #ebebeb;
            font-size: 20px;
        }
        .profile__choise {
            padding: 24px 48px;
           
        }
        .btn_black {
            height: 38px;
        }
        &__date {
            border-radius: 15px;
            background: #f2f2f4;
            margin: 0 48px;
            &__top {
                padding: 32px 48px 20px;
                border-bottom: 1px solid #ddd;
            }
            &__bottom {
                padding: 17px 48px 32px;
                .label {
                    font-size: 12px;
                    margin-bottom: 3px;
                }
            }
            &__more {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                padding: 28px 25px 0;
                overflow: hidden;
                max-height: 1px;
                transition: max-height .4s;
                .btn {
                    grid-column: 1/-1;
                    width: 100%;
                    font-family: inherit;
                    height: 38px;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
        &__form__input {
            font-size: 15px;
            max-width: 286px;
            font-family: inherit;
            border: 1px solid #ddd;
            border-radius: 6px;
            height: 38px;
            background-color: #e9f0fc;
            margin-bottom: 0;
            &:placeholder-shown {
                background-color: #fff;
            }
        }
        &__form1 {
            display: flex;
            gap: 22px;
        }
        &__more {
            font-size: 18px;
            color: #2764e0;
            line-height: normal;
            cursor: pointer;
            border-bottom: 2px dotted #2764e0;
            // display: flex;
            // width: fit-content;
            // align-items: center;
            // gap: 8px;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 10px;
                height: 6px;
                background: url(../img/stat-arrow-more.svg) no-repeat center/contain;
                margin-top: 2px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -18px;
            }
        }
        #more-search {
            width: 1px;
            height: 1px;
            position: absolute;
            margin: -1px;
            overflow: hidden;
            font-size: 1px;
            opacity: 0;
            clip: rect(0,0,0,0);
        }
        #more-search:checked + .stat-search__date__more {
            max-height: 1000px;
            overflow: visible;
        }
                    
    }
    //result
    &-result {
        padding: 10px 0 10px;
        &__wrap {
            border-radius: 15px;
            background: #fff;
            
        }
        &__top {
            border-bottom: 1px solid #ebebeb;
            padding: 24px 48px;
            display: flex;
            align-items: center;
            gap: 24px;
        }
        &__bottom {
            padding: 40px 48px 48px;
            display: flex;
            justify-content: space-between;
            gap: 32px;
            &__title {
                font-weight: 600;
                font-size: 12px;
                letter-spacing: 0.05em;
                color: #6c757d;
                margin-bottom: 2px;
                text-transform: uppercase;
            }
            &__text {
                font-weight: 400;
                font-size: 28px;
                line-height: normal;
            }
        }
    }
    //table
    &-list {
        padding: 10px 0;
        &__wrap {
            border-radius: 15px;
            background: #fff;
        }
        &__title {
            padding: 24px 48px;
            border-bottom: 1px solid #ebebeb;
            font-weight: 600;
            font-size: 20px;
            line-height: normal;
        }
        &__table {
            padding: 32px 48px;
            table {
                width: 100%;
                display: grid;
                border-collapse: collapse;
                min-width: 100%;
                grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
            }
            thead, tbody, tr {
                display: contents;
            }
            th {
                font-weight: 600;
                font-size: 13px;
                line-height: normal;
                text-align: left;
                padding: 0 0 16px;
                &:first-child {
                    padding-left: 35px;
                    
                }
            }
            td {
                font-size: 16px;
                padding: 20px 0 16px;
                transition: background-color .3s;
                &:first-child {
                    padding-left: 35px;
                    border-radius: 10px 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
                .name-base {
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .blue-bottom {
                    border-bottom: 1px dashed #2764e0;
                    color: #2764e0;
                }
            }
            tr:nth-child(odd) td {
                
                background-color: #f2f2f4;
            }
            tr:hover {
                td {
                    background-color: #e9f0fc;
                }
            }

        }
        .avial {
            cursor: pointer;
        }
    }
    //map
    #stat-map2 {
        height: 474px;
        width: 100%;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
        }
        
    }
    &-prov {
        padding: 10px 0;
        &__wrap {
            border-radius: 15px;
            background: #fff;
        }
        &__title {
            padding: 24px 48px;
            border-bottom: 1px solid #ebebeb;
            font-weight: 600;
            font-size: 20px;
            line-height: normal;
        }
        .profile__choise {
            padding: 24px 48px 32px;
        }
        .btn_black {
            height: 38px;
        }
        #stat-map {
            height: 474px;
            position: relative;
        }
        &__adress {
            position: absolute;
            z-index: 2;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
            background: #fff;
            border-radius: 12px;
            min-width: 248px;
            right: 12.5%;
            top: 15%;
            &__item {
                border-bottom: 1px solid #f2f2f4;
                padding: 16px 24px 17px;
                &__name {
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 7px;
                }
                &__title {
                    font-weight: 400;
                    font-size: 13px;
                    color: #6c757d;
                    margin-bottom: 3px;
                    padding-top: 5px;
                }
                &__wrapper {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
            }
        }
        &__chart {
            padding: 48px;
        }
        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
            padding: 24px 48px 4px;
            max-width: 920px;
            .radio__tabs {
                margin-right: 0;
            }
            .new-select {
                background-color: #fff;
                border-color: #ddd;
            }
            .stat-place{
                &:nth-of-type(2) {
                    .new-select {
                        text-align: center;
                        background-image: url(../img/stat-place.svg), url(https://e-metall.ru/wp-content/themes/emetall/img/form_arrow.svg);
                        background-position: left 15px center, right 15px center;
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
            }
        }
    }
    &-map {
        &__legend {
            border-radius: 12px;
            background-color: #fff;
            position: absolute;
            left: 5%;
            top: 6%;
            padding: 16px 20px;
            border: 3px solid #fff;
            transition: border-color .3s;
            &:hover {
                border: 3px solid #2764e0;
            }
            &-2 {
                left: calc(5% + 14px + 195px);
            }
        }
    }
    //графики
    &-chart {
        &__legend {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            gap: 21px;
            margin-left: 48px;
            &__item {
                font-weight: 400;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                &::before {
                    content: '';
                    border-radius: 3px;
                    width: 14px;
                    height: 14px;
                    display: block;
                    
                }
                &:first-child {
                    
                    &::before {
                        background: #2764e0;
                        
                    }
                }
                &:last-child {
                    
                    &::before {
                        background: #7aa6ff;
                        
                    }
                }
            }
        }
        &__wrap {
            position: relative;
            height: 434px;
            width: 474px;
        }
        &__wrapper {
            display: flex;
            max-width: 920px;
            padding-bottom: 54px;

        }

    }
    &-prov {
        &__chart {
            &-circle {
                width: 474px;
                position: absolute;
                &__text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
                &__legend {
                    flex-grow: .8;
                    margin-top: 54px;
                    &__item {
                        align-items: center;
                        display: grid;
                        grid-template-columns: 3% 66% 21% 1fr;
                        gap: 8px;
                        border-radius: 30px;
                        padding: 7px 11px 8px;
                        transition: background-color .2s;
                        &:hover {
                            background-color: #f2f2f4;
                        }
                        .circle {
                            width: 12px;
                            height: 12px;
                            border-radius: 100%;
                            min-width: 12px;
                            min-height: 12px;
                            &:after {
                                width: 50%;
                                height: 50%;
                            }
                        }
                    }
                    .btn_transparent {
                        border: 1px solid #2764e0;
                        border-radius: 6px;
                        height: 38px;
                        margin-top: 20px;
                        font-weight: 600;
                        font-size: 14px;
                        color: #2764e0;
                        &:hover {
                            background-color: #2764e0;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    
 .footer {
    &__logos {
        margin-bottom: 0;
    }
 } 
 .radio__mark {
    white-space: nowrap;
 } 
 &-modal {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-width: 1084px;
    max-height: 100%;
    .modal__close {
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
    }
    .stat-chart__legend__item:last-child::before {
        background: #1a913c;
    }
    .stat-prov__title {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &::-webkit-scrollbar {
        width: 4px;
        
      }
    &::-webkit-scrollbar-track {
        background: transparent;
        margin: 20px 0;
      }
    &::-webkit-scrollbar-thumb {
        background-color: #6c757d;
        border-radius: 3px;
      }
 }
}

.air-datepicker {
    padding: 62px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.12);
    color: #212529;
    font-family: 'Segoe UI', 'Arial', sans-serif;
    &:before {
        content: 'Выберите период';
        font-size: 24px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 32px 62px;
        font-weight: 600;
    }
    &-nav {
        border-bottom: none;
        margin-top: 24px;
        &--title {
            font-size: 16px;
            font-weight: 600;
            i {
                color: #212529;
            }
        }
    }
    &-body {
        &--day-name {
            font-size: 13px;
            color: #9295AE;
        }
        &--cells {
            row-gap: 16px;
        }
        
           
        
    }
    &-cell {
        font-size: 14px;
        &:nth-child(7n + 1) {
            border-radius: 30px 0px 0px 30px;
        }
        &:nth-child(7n) {
            border-radius: 0 30px 30px 0;
        }
        &:hover {
            background: #2764e0;
            border-radius: 30px;
            color: #fff;
           border: none;
        }
        &:active {
            background: #2764e0;
            border-radius: 30px;
            color: #fff;
        }
        
    }
    
}

.air-datepicker-cell.-selected- {
    background: #2764e0;
    border-radius: 30px;
    &:hover {
        background: #2764e0;
        border-radius: 30px;
        color: #fff;
       
    }
    &:focus {
        background: #2764e0;
    }
    
}
.air-datepicker-cell.-selected-.-focus- {
    background: #2764e0;
}
.air-datepicker-cell.-range-to- {
    background: #2764e0;
}

.air-datepicker-cell.-in-range- {
    background: #E9F0FC;
    &:hover {
        background: #2764e0;
        border-radius: 30px;
        color: #fff;
        
    }
}
.air-datepicker-cell.-current- {
    color: #2764e0;
}
.air-datepicker-cell.-selected-.-current- {
    background: #2764e0;
}

